server {
    listen 80;
    server_name {{ server_name }};

    root {{ web_root }};
    index index.html;

    location / {
        try_files $uri /index.html;
    }

    location /icons/ {
        expires 7d;
        add_header Cache-Control "public";
    }
}
